.allcourses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 50px 10px 0px 10px;
    margin-bottom:30px;
}
.offer-courses{
    background-image: url(../../images/offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
@media screen and (max-width:500px){
    .allcourses-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .offer-courses{
        height: 100px;
    }
}